In [182]:
import pandas as pd
import numpy as np
PC_name = 'jwolf'

In [234]:
df_Pop_GE = pd.read_csv("C:/Users/{0}/Documents/MEGA/03_Doutoramento/06_Base de dados/School closure/Pop_totais_grupo_etario_municipio.csv".format(PC_name),\
engine='python', header = 0, sep = ";", dtype= {'code': str})
df_Pop_GE.index = df_Pop_GE['code']
df_Pop_GE['ano'] = pd.to_numeric(df_Pop_GE['ano'], downcast='integer')
df_Pop_GE.drop(['code'], inplace = True, axis = 1)

In [236]:
df_Reg_Unemployed = pd.read_csv("C:/Users/{0}/Documents/MEGA/03_Doutoramento/06_Base de dados/School closure/Registered_unemployment.csv".format(PC_name),\
engine='python', header = 0, sep = ";", dtype= {'Code': str})
df_Reg_Unemployed.index = df_Reg_Unemployed['Code']
df_Reg_Unemployed.drop(['Unnamed: 24', 'Unnamed: 25', 'Code'], inplace = True, axis = 1)
df_Reg_Unemployed=df_Reg_Unemployed.dropna()

In [237]:
l=[]
for i in df_Reg_Unemployed:
    l.append(df_Reg_Unemployed.loc[:,['Nome',i]])

#junta 1 coluna a todos os dataframes, que repete o nome de outra coluna em todas as linhas
l=l[1:]

x=0
for i in l: 
    l[x]=l[x].assign(Year=l[x].columns[1])
    x+=1


#altera nome de colunas para ficarem todas idênticas quando se apende 
x=0
for i in l: 
    l[x].rename(columns={l[x].columns[1]: 'Desempr_inscritos'}, inplace = True)
    x+=1
l
# cria df1 que junta todas as dfs da lista l 

df1=pd.DataFrame()
x=0 
for i in l: 
    df1 = df1.append(l[x])
    x+=1

In [238]:
mylist = ['h0_4', 'h5_9', 'h10_14', 'h15_19', 'h20_24', 'h25_29','h30_34', 'h35_39', 'h40_44', 
          'h45_49', 'h50_54', 'h55_59', 'h60_64', 'h65_69', 'h70_74', 'h75_79', 'h80_84', 'h85 e mais']
mylist2 = ['0_4', '5_9','10_14', '15_19', '20_24', '25_29', '30_34', '35_39', '40_44', '45_49',
       '50_54', '55_59', '60_64', '65_69', '70_74', '75_79', '80_84','85 e mais']

resultdict = {}
resultdict['nome'] = df_Pop_GE.loc[:, 'nome']
resultdict['ano'] = df_Pop_GE.loc[:, 'ano']

for i in range(len(mylist)): 
    mydict = {'one': df_Pop_GE.loc[:, mylist[i]],'two': df_Pop_GE.loc[:, mylist2[i]]}
    resultdf = pd.DataFrame(mydict)
    resultdict[mylist2[i]] = resultdf.sum(axis=1)

df_Pop_GE_HM_soma = pd.DataFrame(resultdict)
mylist = []
mylist2 = []

In [276]:
df1.loc[: , df1.Year == 2011]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [261]:
g = df_Pop_GE_HM_soma.groupby(('ano'))

In [240]:
g1 = df1.groupby(('Year'))

In [262]:
grouped.get_group(g1).index

NameError: name 'grouped' is not defined

In [259]:
g1.drop(grouped.get_group(g1).index)
g1.groups

AttributeError: Cannot access callable attribute 'drop' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [255]:
l =[]
for anno, df1 in g1:
    print(anno)
#     print(anno, '    ', (g1.get_group(anno).loc[:,'Desempr_inscritos']/
#           g.get_group(anno).loc[:,'15_19':'60_64'].sum(axis=1)*100).min())
# #     l.append((g1.get_group(anno).loc[:,'Desempr_inscritos']/
#           g.get_group(anno).loc[:,'15_19':'60_64'].sum(axis=1)*100))


# g.get_group(2018).loc[:,'15_19':'60_64']
g.groups

1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018

{1991: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 1992: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 1993: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 1994: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 1995: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 1996: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 1997: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 1998: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 1999: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2000: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2001: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2002: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2003: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2004: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2005: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2006: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2007: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2008: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2009: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2010: Index(['0907', '1011', '0706', '1709', '4301', '1103', '0406', '0610', '0405',
        '0111',
        ...
        '0609', '0104', '0504', '0802', '1708', '1402', '1212', '0311', '1012',
        '0803'],
       dtype='object', name='code', length=308),
 2011: Index(['3106', '0705', '1601', '0906', '1508', '0207', '0807', '0711', '1318',
        '0901',
        ...
        '0911', '0813', '1420', '1312', '4202', '0706', '3108', '1013', '0506',
        '0111'],
       dtype='object', name='code', length=308),
 2012: Index(['3106', '0705', '1601', '0906', '1508', '0207', '0807', '0711', '1318',
        '0901',
        ...
        '0911', '0813', '1420', '1312', '4202', '0706', '3108', '1013', '0506',
        '0111'],
       dtype='object', name='code', length=308),
 2013: Index(['3106', '0705', '1601', '0906', '1508', '0207', '0807', '0711', '1318',
        '0901',
        ...
        '0911', '0813', '1420', '1312', '4202', '0706', '3108', '1013', '0506',
        '0111'],
       dtype='object', name='code', length=308),
 2014: Index(['3106', '0705', '1601', '0906', '1508', '0207', '0807', '0711', '1318',
        '0901',
        ...
        '0911', '0813', '1420', '1312', '4202', '0706', '3108', '1013', '0506',
        '0111'],
       dtype='object', name='code', length=308),
 2015: Index(['3106', '0705', '1601', '0906', '1508', '0207', '0807', '0711', '1318',
        '0901',
        ...
        '0911', '0813', '1420', '1312', '4202', '0706', '3108', '1013', '0506',
        '0111'],
       dtype='object', name='code', length=308),
 2016: Index(['3106', '0705', '1601', '0906', '1508', '0207', '0807', '0711', '1318',
        '0901',
        ...
        '0911', '0813', '1420', '1312', '4202', '0706', '3108', '1013', '0506',
        '0111'],
       dtype='object', name='code', length=308),
 2017: Index(['3106', '0705', '1601', '0906', '1508', '0207', '0807', '0711', '1318',
        '0901',
        ...
        '0911', '0813', '1420', '1312', '4202', '0706', '3108', '1013', '0506',
        '0111'],
       dtype='object', name='code', length=308)}

In [228]:
df_Pop_GE_HM_soma

,nome,ano,0_4,5_9,10_14,15_19,20_24,25_29,30_34,35_39,40_44,45_49,50_54,55_59,60_64,65_69,70_74,75_79,80_84,85 e mais
code,,,,,,,,,,,,,,,,,,,,
0907,Guarda,1993,2148,2327,2704,3037,2949,2864,2954,2777,2504,2194,2048,2227,2204,2264,1915,1365,1049,580
0907,Guarda,1992,2098,2356,2722,3017,2951,2782,2877,2620,2513,2139,2024,2195,2247,2223,1799,1392,1005,563
0907,Guarda,1991,2048,2406,2790,3041,2863,2766,2836,2516,2415,2102,2055,2205,2294,2193,1747,1387,964,525
1011,Nazaré,1993,845,857,1101,1243,1126,1098,1064,1034,1139,985,919,801,842,733,622,426,269,118
1011,Nazaré,1992,834,883,1173,1250,1167,1107,1041,1082,1108,973,898,808,815,764,578,440,264,112
1011,Nazaré,1991,832,919,1249,1250,1161,1128,1039,1103,1098,923,900,817,811,758,585,409,259,104
0706,Montemor-o-Novo,1993,740,945,1105,1316,1107,996,1098,1091,1060,1041,1100,1402,1494,1365,1125,778,555,278
0706,Montemor-o-Novo,1992,787,981,1113,1337,1079,998,1117,1078,1044,1041,1151,1437,1490,1342,1066,809,491,268
0706,Montemor-o-Novo,1991,795,1050,1160,1352,1031,1013,1106,1053,1057,1037,1233,1478,1470,1325,1005,822,459,246
1709,Ribeira de Pena,1993,418,534,684,759,628,461,501,479,413,371,375,503,513,531,389,252,170,111
1709,Ribeira de Pena,1992,445,560,761,762,644,453,514,471,376,390,400,488,545,520,371,256,179,108
1709,Ribeira de Pena,1991,470,608,813,804,613,470,531,444,361,391,415,517,534,521,369,255,178,112
4301,Angra do Heroísmo,1993,2469,2769,2842,2886,2634,2555,2693,2444,2291,1903,1680,1630,1698,1544,1315,1013,601,321
4301,Angra do Heroísmo,1992,2496,2844,2854,2889,2587,2643,2688,2431,2231,1846,1672,1677,1706,1534,1333,1008,616,312
4301,Angra do Heroísmo,1991,2569,2880,2929,2848,2609,2673,2653,2405,2187,1786,1690,1690,1757,1489,1379,995,624,289
1103,Azambuja,1993,882,988,1312,1538,1465,1345,1296,1284,1273,1312,1245,1229,1212,1148,973,676,422,201
1103,Azambuja,1992,871,1012,1393,1540,1448,1323,1282,1267,1270,1294,1240,1212,1206,1152,936,679,386,204
1103,Azambuja,1991,867,1086,1452,1564,1418,1273,1288,1256,1306,1241,1217,1226,1208,1163,924,668,374,183
0406,Miranda do Douro,1993,332,358,538,546,545,455,454,545,475,488,554,674,649,629,509,331,244,115
0406,Miranda do Douro,1992,314,401,550,596,547,445,479,535,457,537,561,662,662,627,500,326,240,101
0406,Miranda do Douro,1991,316,454,563,605,585,428,524,506,471,536,602,635,662,623,487,329,232,97
0610,Montemor-o-Velho,1993,1261,1347,1705,1886,1907,1879,1795,1665,1544,1538,1472,1634,1720,1549,1287,893,613,348
0610,Montemor-o-Velho,1992,1282,1432,1728,1906,1962,1895,1777,1637,1554,1486,1531,1681,1726,1506,1252,903,604,399
0610,Montemor-o-Velho,1991,1307,1555,1752,1963,1966,1874,1767,1626,1524,1513,1579,1712,1696,1509,1208,900,597,378
0405,Macedo de Cavaleiros,1993,913,1057,1392,1548,1429,1172,1130,1073,1060,958,1000,1234,1166,1091,912,607,434,204
0405,Macedo de Cavaleiros,1992,946,1120,1464,1628,1473,1150,1128,1064,1044,966,1040,1218,1173,1077,889,605,453,191
0405,Macedo de Cavaleiros,1991,952,1230,1561,1687,1522,1121,1121,1075,1013,973,1070,1217,1160,1079,839,622,414,183
0111,Mealhada,1993,1011,983,1309,1475,1500,1397,1363,1276,1203,1068,1035,1151,1162,1098,810,537,365,199
0111,Mealhada,1992,969,1053,1317,1484,1466,1360,1341,1234,1182,1033,1049,1147,1140,1086,746,514,372,190
0111,Mealhada,1991,946,1101,1356,1527,1407,1364,1300,1213,1139,1027,1073,1157,1119,1039,723,508,381,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4601,Lajes do Pico,2017,153,191,210,218,235,311,270,297,349,314,347,322,290,298,252,179,185,129
1702,Boticas,2017,132,155,186,192,232,247,251,262,342,313,350,421,388,333,320,312,356,347
0501,Belmonte,2017,209,214,238,317,326,342,335,356,450,433,484,563,480,393,348,320,338,314
0808,Loulé,2017,3202,3583,3706,3635,3493,3676,4028,4982,5502,5147,4840,4670,4239,3817,3281,2760,2400,2083
3109,Santana,2017,185,214,298,389,389,377,378,385,467,435,601,539,472,412,363,348,329,227
1708,Peso da Régua,2017,494,592,712,857,957,979,815,910,1113,1160,1250,1373,1191,1018,776,706,583,441
0913,Trancoso,2017,222,257,323,403,483,492,481,472,590,597,633,690,637,571,592,610,531,488
0707,Mora,2017,122,131,178,174,172,184,208,230,267,251,296,318,381,320,251,281,272,247
0805,Faro,2017,3023,3182,3216,3023,2773,2587,3330,4619,5324,4451,4162,4257,3994,3849,3157,2488,2038,1447
4502,Velas,2017,200,204,214,308,288,364,379,419,423,406,381,387,292,267,205,184,160,90
0102,Albergaria-a-Velha,2017,926,1097,1109,1359,1285,1253,1390,1712,1906,1938,1872,1758,1634,1524,1193,961,708,635
0119,Vale de Cambra,2017,691,789,934,1030,1104,1178,1140,1281,1563,1638,1651,1679,1589,1490,1255,1018,756,739
0403,Carrazeda de Ansiães,2017,185,155,232,256,241,280,229,295,312,371,353,402,440,415,398,383,356,427
0409,Torre de Moncorvo,2017,168,200,244,304,338,362,398,468,404,446,478,598,592,507,529,537,582,642
0108,Estarreja,2017,974,1091,1305,1372,1554,1469,1545,1616,1883,1974,2137,1960,1654,1554,1260,1172,893,661
1401,Abrantes,2017,1098,1309,1618,1762,1481,1536,1739,2042,2472,2600,2697,2775,2638,2424,2062,1855,1862,1869
1413,Mação,2017,134,157,177,276,297,340,266,367,374,390,425,488,430,379,385,460,526,581
1106,Lisboa,2017,28422,27488,25013,20681,18628,20172,27186,32407,36466,32473,31400,30332,31678,34462,32568,26765,23067,26880
0411,Vimioso,2017,140,158,117,136,181,198,226,255,227,228,221,272,267,269,248,295,349,305
0714,Vila Viçosa,2017,270,302,333,382,387,356,415,459,557,585,699,646,557,445,394,397,345,285
0911,Sabugal,2017,270,283,273,388,437,485,463,490,540,657,762,907,877,745,741,814,881,990
0813,Silves,2017,1483,1758,1822,1805,1697,1824,2078,2588,2916,2465,2509,2481,2285,2076,1855,1663,1450,1503
1420,Vila Nova da Barquinha,2017,256,290,370,373,380,349,420,458,492,531,563,522,450,432,407,413,370,305
1312,Porto,2017,9697,8843,8712,9492,9603,9398,10743,12649,14204,14057,15231,15815,15756,16373,14238,11010,9227,9539
4202,Nordeste,2017,172,246,275,306,321,343,292,331,372,382,387,331,264,242,166,175,156,146
0706,Montemor-o-Novo,2017,531,548,649,724,670,751,822,911,1169,1095,1085,1177,1069,1029,962,908,925,917
3108,Santa Cruz,2017,1929,2519,2878,2870,2496,2566,3224,4319,4714,3711,3401,2742,2143,1541,1225,961,709,469
1013,Pedrógão Grande,2017,94,117,156,190,177,195,173,165,203,245,229,237,252,166,178,235,237,230
0506,Oleiros,2017,78,95,139,165,224,248,242,281,261,309,340,382,362,371,382,380,441,420
0111,Mealhada,2017,665,822,955,1008,970,1080,1072,1406,1583,1580,1495,1484,1267,1166,966,899,783,798