In [142]:
import pandas as pd
import numpy as np
PC_name = 'jwolf'

In [143]:
df_Pop_GE = pd.read_csv("C:/Users/{0}/Documents/MEGA/03_Doutoramento/06_Base de dados/School closure/Pop_totais_grupo_etario_municipio.csv".format(PC_name),\
engine='python', header = 0, sep = ";", dtype= {'code': str})
df_Pop_GE.index = df_Pop_GE['code']
df_Pop_GE['ano'] = pd.to_numeric(df_Pop_GE['ano'], downcast='integer')
df_Pop_GE.drop(['code'], inplace = True, axis = 1)

In [174]:
df_Reg_Unemployed = pd.read_csv("C:/Users/{0}/Documents/MEGA/03_Doutoramento/06_Base de dados/School closure/Registered_unemployment.csv".format(PC_name),\
engine='python', header = 0, sep = ";", dtype= {'Code': str})
df_Reg_Unemployed.index = df_Reg_Unemployed['Code']
df_Reg_Unemployed['Year'] = pd.to_numeric(df_Reg_Unemployed['Year '], downcast='integer')
df_Reg_Unemployed.drop(['Code', 'Year '], inplace = True, axis = 1)
# df_Reg_Unemployed[(df_Reg_Unemployed.loc['0907'])&(df_Reg_Unemployed.Year[1999])]

# # df_Reg_Unemployed.loc['0907'])
# a= df_Reg_Unemployed.loc['0907']
# a[a.Year==1999]

# df_Reg_Unemployed.loc['0907'][df_Reg_Unemployed.Year==1999]
df_Reg_Unemployed.Year==1999

df_Reg_Unemployed.loc[(df_Reg_Unemployed.index=='0907') & (df_Reg_Unemployed['Year']==1999)]
dic = {'code': '0907', 'ano': '1999'}
# df_Reg_Unemployed.index

In [310]:
mylist = ['h0_4', 'h5_9', 'h10_14', 'h15_19', 'h20_24', 'h25_29','h30_34', 'h35_39', 'h40_44', 
          'h45_49', 'h50_54', 'h55_59', 'h60_64', 'h65_69', 'h70_74', 'h75_79', 'h80_84', 'h85 e mais']
mylist2 = ['0_4', '5_9','10_14', '15_19', '20_24', '25_29', '30_34', '35_39', '40_44', '45_49',
       '50_54', '55_59', '60_64', '65_69', '70_74', '75_79', '80_84','85 e mais']

resultdict = {}
resultdict['nome'] = df_Pop_GE.loc[:, 'nome']
resultdict['ano'] = df_Pop_GE.loc[:, 'ano']

for i in range(len(mylist)): 
    mydict = {'one': df_Pop_GE.loc[:, mylist[i]],'two': df_Pop_GE.loc[:, mylist2[i]]}
    resultdf = pd.DataFrame(mydict)
    resultdict[mylist2[i]] = resultdf.sum(axis=1)

df_Pop_GE_HM_soma = pd.DataFrame(resultdict)
mylist = []
mylist2 = []
# df_Pop_GE_HM_soma['code'] = df_Pop_GE_HM_soma.index

# df_Pop_GE_HM_soma.to_csv("C:/Users/jwolf/Documents/MEGA/03_Doutoramento/06_Base de dados/School closure/CSV_new/\
# Pop_age_groups_HM_soma.csv", sep=';', encoding='ANSI', index=False, header=True)
df_Pop_GE_HM_soma.head()

,nome,ano,0_4,5_9,10_14,15_19,20_24,25_29,30_34,35_39,40_44,45_49,50_54,55_59,60_64,65_69,70_74,75_79,80_84,85 e mais
code,,,,,,,,,,,,,,,,,,,,
0907,Guarda,1993,2148,2327,2704,3037,2949,2864,2954,2777,2504,2194,2048,2227,2204,2264,1915,1365,1049,580
0907,Guarda,1992,2098,2356,2722,3017,2951,2782,2877,2620,2513,2139,2024,2195,2247,2223,1799,1392,1005,563
0907,Guarda,1991,2048,2406,2790,3041,2863,2766,2836,2516,2415,2102,2055,2205,2294,2193,1747,1387,964,525
1011,Nazaré,1993,845,857,1101,1243,1126,1098,1064,1034,1139,985,919,801,842,733,622,426,269,118
1011,Nazaré,1992,834,883,1173,1250,1167,1107,1041,1082,1108,973,898,808,815,764,578,440,264,112

In [311]:
g = df_Pop_GE_HM_soma.groupby(('ano'))

In [312]:

g1 = df_Reg_Unemployed.groupby(('Year'))

In [313]:
l =[]
for anno, df_Reg_Unemployed in g1:
#     print(i, '    ', (g1.get_group(i).loc[:,'Registered Unemployed']/
#           g.get_group(i).loc[:,'15_19':'60_64'].sum(axis=1)*100).min())
    l.append(g1.get_group(anno).loc[:,'Registered Unemployed']/
          g.get_group(anno).loc[:,'15_19':'60_64'].sum(axis=1)*100)
l

[0101     6.224490
 0102     6.424839
 0103     6.086957
 0104     5.674313
 0105     7.976661
 0106    11.706148
 0107    14.859586
 0108     7.087115
 0109     8.047383
 0110     7.560589
 0111     5.899114
 0112     5.883234
 0113     5.216967
 0114     5.322455
 0115     9.126687
 0116     7.373428
 0117     6.548339
 0118     5.137836
 0119     5.018151
 0201     7.968127
 0202     8.396759
 0203     7.918969
 0204    18.829982
 0205     9.015009
 0206     6.737898
 0207     7.998661
 0208     9.228901
 0209    11.192146
 0210    15.357428
 0211     9.391578
           ...
 3101          NaN
 3102          NaN
 3103          NaN
 3104          NaN
 3105          NaN
 3106          NaN
 3107          NaN
 3108          NaN
 3109          NaN
 3110          NaN
 3201          NaN
 4101          NaN
 4201          NaN
 4202          NaN
 4203          NaN
 4204          NaN
 4205          NaN
 4206          NaN
 4301          NaN
 4302          NaN
 4401          NaN
 4501          NaN
 4502          NaN
 4601          NaN
 4602          NaN
 4603          NaN
 4701          NaN
 4801          NaN
 4802          NaN
 4901          NaN
 Length: 308, dtype: float64]

In [195]:
df_Pop_GE_HM_soma

,nome,ano,0_4,5_9,10_14,15_19,20_24,25_29,30_34,35_39,40_44,45_49,50_54,55_59,60_64,65_69,70_74,75_79,80_84,85 e mais
code,,,,,,,,,,,,,,,,,,,,
3106,Porto Moniz,2017,69,94,107,121,144,164,167,142,154,158,158,152,140,160,115,109,116,100
0705,Évora,2017,2172,2514,2618,2660,2549,2468,2840,3594,4269,3785,3854,3806,3787,3283,2735,2195,2022,1723
1601,Arcos de Valdevez,2017,569,694,845,967,968,1071,1062,1218,1301,1281,1358,1523,1392,1404,1364,1399,1351,1377
0906,Gouveia,2017,333,369,423,613,558,622,601,573,748,765,938,949,956,972,877,814,856,744
1508,Palmela,2017,2740,3464,3819,3927,3378,3295,3664,4761,5935,4894,4246,4166,3636,3417,3248,2447,1934,1259
0207,Cuba,2017,191,218,222,267,238,298,285,346,317,307,324,325,277,227,255,205,214,141
0807,Lagos,2017,1252,1574,1733,1795,1704,1710,1620,2010,2446,2248,2176,2059,1862,1718,1384,1262,1048,942
0711,Reguengos de Monsaraz,2017,380,438,500,547,513,512,509,676,767,724,671,736,664,590,492,504,482,423
1318,Trofa,2017,1510,1622,1898,2208,2244,2352,2310,2703,3103,3092,3159,2901,2542,2260,1652,1195,847,659
0901,Aguiar da Beira,2017,112,127,177,249,280,305,254,250,310,337,392,388,382,303,255,291,267,152
0201,Aljustrel,2017,333,345,305,377,357,427,396,499,521,575,608,670,720,619,531,409,370,334
0107,Espinho,2017,1050,1099,1236,1480,1521,1449,1403,1630,1815,2163,2465,2428,2386,2186,1809,1415,1167,831
1112,Sobral de Monte Agraço,2017,418,544,579,645,555,580,677,803,973,812,636,700,635,535,505,330,269,212
0116,São João da Madeira,2017,768,956,1005,1157,1205,1319,1314,1454,1630,1689,1763,1690,1508,1245,1020,746,587,525
1610,Vila Nova de Cerveira,2017,279,345,423,450,468,502,545,610,729,644,584,648,568,515,427,431,394,297
1311,Penafiel,2017,2829,3401,3963,4526,4642,4227,4307,4842,5716,5739,5719,5253,4131,3543,2568,1940,1602,1130
0510,Vila de Rei,2017,82,72,70,152,233,188,223,190,198,203,207,238,201,164,121,229,263,302
0204,Barrancos,2017,70,67,90,75,53,88,113,106,134,161,159,99,89,74,61,90,87,53
1507,Montijo,2017,2987,3400,3172,3047,2857,3166,4422,5525,5538,3767,3148,2899,2775,2793,2303,1937,1499,1070
1411,Ferreira do Zêzere,2017,233,268,374,447,434,429,434,472,586,542,562,582,499,438,405,465,458,428
1815,São João da Pesqueira,2017,214,268,338,405,427,464,388,393,532,482,557,590,473,411,309,345,317,292
0810,Olhão,2017,2016,2520,2517,2530,2335,2257,2719,3410,4084,3244,2971,2733,2622,2538,2125,1719,1299,1210
0605,Figueira da Foz,2017,2008,2354,2769,2936,2719,2817,3223,3812,4562,4410,4249,4516,4244,3991,3432,3015,2442,1894
1403,Almeirim,2017,877,1137,1187,1263,1015,1019,1165,1655,1900,1647,1533,1484,1366,1456,1296,1100,887,795
3101,Calheta,2017,335,436,576,646,632,631,622,723,854,817,849,725,631,558,546,526,433,361
0912,Seia,2017,726,751,808,960,1091,1109,1215,1239,1432,1502,1766,1894,1877,1779,1526,1317,1042,708
3103,Funchal,2017,3773,4277,5362,6113,5916,6154,6457,7009,8283,8114,8727,8104,7019,6142,4770,3554,2861,1807
0303,Braga,2017,7925,8795,9581,10779,10222,10680,11931,14229,15444,14528,13772,13041,11264,9672,6954,5059,4091,3415
1206,Crato,2017,99,106,88,138,108,140,143,187,224,234,209,248,211,263,222,192,203,236
0612,Pampilhosa da Serra,2017,110,84,110,126,167,200,215,229,215,246,271,255,238,261,286,340,346,387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4601,Lajes do Pico,2017,153,191,210,218,235,311,270,297,349,314,347,322,290,298,252,179,185,129
1702,Boticas,2017,132,155,186,192,232,247,251,262,342,313,350,421,388,333,320,312,356,347
0501,Belmonte,2017,209,214,238,317,326,342,335,356,450,433,484,563,480,393,348,320,338,314
0808,Loulé,2017,3202,3583,3706,3635,3493,3676,4028,4982,5502,5147,4840,4670,4239,3817,3281,2760,2400,2083
3109,Santana,2017,185,214,298,389,389,377,378,385,467,435,601,539,472,412,363,348,329,227
1708,Peso da Régua,2017,494,592,712,857,957,979,815,910,1113,1160,1250,1373,1191,1018,776,706,583,441
0913,Trancoso,2017,222,257,323,403,483,492,481,472,590,597,633,690,637,571,592,610,531,488
0707,Mora,2017,122,131,178,174,172,184,208,230,267,251,296,318,381,320,251,281,272,247
0805,Faro,2017,3023,3182,3216,3023,2773,2587,3330,4619,5324,4451,4162,4257,3994,3849,3157,2488,2038,1447
4502,Velas,2017,200,204,214,308,288,364,379,419,423,406,381,387,292,267,205,184,160,90
0102,Albergaria-a-Velha,2017,926,1097,1109,1359,1285,1253,1390,1712,1906,1938,1872,1758,1634,1524,1193,961,708,635
0119,Vale de Cambra,2017,691,789,934,1030,1104,1178,1140,1281,1563,1638,1651,1679,1589,1490,1255,1018,756,739
0403,Carrazeda de Ansiães,2017,185,155,232,256,241,280,229,295,312,371,353,402,440,415,398,383,356,427
0409,Torre de Moncorvo,2017,168,200,244,304,338,362,398,468,404,446,478,598,592,507,529,537,582,642
0108,Estarreja,2017,974,1091,1305,1372,1554,1469,1545,1616,1883,1974,2137,1960,1654,1554,1260,1172,893,661
1401,Abrantes,2017,1098,1309,1618,1762,1481,1536,1739,2042,2472,2600,2697,2775,2638,2424,2062,1855,1862,1869
1413,Mação,2017,134,157,177,276,297,340,266,367,374,390,425,488,430,379,385,460,526,581
1106,Lisboa,2017,28422,27488,25013,20681,18628,20172,27186,32407,36466,32473,31400,30332,31678,34462,32568,26765,23067,26880
0411,Vimioso,2017,140,158,117,136,181,198,226,255,227,228,221,272,267,269,248,295,349,305
0714,Vila Viçosa,2017,270,302,333,382,387,356,415,459,557,585,699,646,557,445,394,397,345,285
0911,Sabugal,2017,270,283,273,388,437,485,463,490,540,657,762,907,877,745,741,814,881,990
0813,Silves,2017,1483,1758,1822,1805,1697,1824,2078,2588,2916,2465,2509,2481,2285,2076,1855,1663,1450,1503
1420,Vila Nova da Barquinha,2017,256,290,370,373,380,349,420,458,492,531,563,522,450,432,407,413,370,305
1312,Porto,2017,9697,8843,8712,9492,9603,9398,10743,12649,14204,14057,15231,15815,15756,16373,14238,11010,9227,9539
4202,Nordeste,2017,172,246,275,306,321,343,292,331,372,382,387,331,264,242,166,175,156,146
0706,Montemor-o-Novo,2017,531,548,649,724,670,751,822,911,1169,1095,1085,1177,1069,1029,962,908,925,917
3108,Santa Cruz,2017,1929,2519,2878,2870,2496,2566,3224,4319,4714,3711,3401,2742,2143,1541,1225,961,709,469
1013,Pedrógão Grande,2017,94,117,156,190,177,195,173,165,203,245,229,237,252,166,178,235,237,230
0506,Oleiros,2017,78,95,139,165,224,248,242,281,261,309,340,382,362,371,382,380,441,420
0111,Mealhada,2017,665,822,955,1008,970,1080,1072,1406,1583,1580,1495,1484,1267,1166,966,899,783,798

In [236]:
df = pd.DataFrame([('bird', 'Falconiformes', 389.0), ('bird', 'Psittaciformes', 24.0),
                   ('mammal', 'Carnivora', 80.2),
                   ('mammal', 'Primates', np.nan),
                   ('mammal', 'Carnivora', 58)],
                  index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                  columns=('class', 'order', 'max_speed'))
df.groupby('class').groups['mammal']

Index(['lion', 'monkey', 'leopard'], dtype='object')